
AUTH_SECRET="replace-with-a-random-secret-at-least-32-characters"


DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
POSTGRES_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
PRISMA_DATABASE_URL="postgresql://USER:PASSWORD@HOST:5432/DATABASE?schema=public"
